<br><br><br><br><br><br><br>
<div class="container mt-5" style="max-width: 500px;">
  <div class="card shadow p-4 border-0 rounded-4">
    <h4 class="mb-4 text-center">Forgot Password</h4>

    <!-- Email Input Form -->
    <form  [formGroup]="forgetpwdData" (ngSubmit)="sendOtp()" *ngIf="!otpSent">
      <div class="alert alert-danger" *ngIf="emailnotExist==false">
      {{error}}
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Email Address</label>
        <input
          type="email"
        formControlName="email"
          class="form-control"
          id="email"
          placeholder="Enter your email"
          required
        />
      </div>
      <button type="submit" class="btn w-100 text-light" style="background-color:  rgba(0, 0, 0, 0.7);">Send OTP</button>
    </form>

    <!-- OTP Input Form -->
    <form [formGroup]="forgetpwdData" (ngSubmit)="verifyOtp()" *ngIf="otpSent">
      <div class="alert alert-success text-center py-2" role="alert">
        OTP has been sent to <strong>{{ forgetpwdData.value.email }}</strong>
      </div>
      <div class="mb-3">
        <label for="otp" class="form-label">Enter OTP</label>
        <input
          type="text"
          [value]="otp"
          name="otp"
          class="form-control"
          id="otp"
          placeholder="Enter OTP"
          required
        />
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Enter password</label>
        <input
          type="password"
          name="password"
          class="form-control"
          id="password"
          placeholder="Enter password"
          required
          formControlName="password" />
      </div>
      <button type="submit" class="btn btn-success w-100">Verify OTP</button>
    </form>
  </div>
</div>
<!-- <p >{{otp | json}}</p> -->
<!-- {{val | json}} -->
 <p>{{users | json}}</p>