<br><br>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Error Page</title>
</head>
<body>

  <div class="error-container">
    <img src="error_page1.jpg" height="300px" width="300px" alt="">
    <!-- <div class="icon">❌</div> -->
    <div class="error-code">404</div>
    <div class="error-message">
      Oops! The page you're looking for doesn't exist.
    </div>
    <br>
    <a href="#" class="cta-button" routerLink="">Go Back to Home</a>
  </div>

</body>
</html>
