<br><br>
<section class="horizontal-cards">
    <div class="container">
        <h2 class="section-title">Your Posts</h2>
        <div class="cards-wrapper">
          
          <!-- <img [src]="Blogs.imageUrls" alt=""> -->
            <div class="card" *ngFor="let blog of Blogs">
                <div class="category">{{blog.category.categoryName}}</div>
              
                <!-- <img src="{{blog.imageUrls}}" alt=""> -->
                <!-- <b>{{blog.imageUrls}}</b> -->
                       <!-- <img [src]="blog.imageUrls[0]"  height="200" width="200"/> -->
                  <img [src]="blog.imageUrls" alt="">
                  <!-- <p>{{blog.imageUrls}}</p> -->
                <div class="card-content">
                    <h3>{{blog.title}}</h3>
                    <p>{{blog.content}}</p>
                    <a href="#" class="btn-read-more" routerLink="/viewBlog/{{blog.id}}">View</a> &nbsp;
                    <a href="#" class="btn-update" routerLink="/updateBlog">Update</a> &nbsp;
                    <a  class="btn-delete"  (click)="deleteBlogById(blog.id)" routerLink="/blogs">Delete</a>
                    
                    <p>
                    <a  class="btn btn-link" [routerLink]="['/comment', blog.id]">
                    
                      Comments: {{blog.totalComments}}
                    </a>
                      <!-- <span class="badge rounded-pill bg-primary">Comments{{blog.totalComments}}</span></a> -->
                    </p>
                    <br><br> 
                    <!-- <p class="card-text" style="font-size: 16px;">Created At : <small class="text-muted">{{blog.createdAt | date}}</small></p> -->
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago
                      {{blog.createdAt | date: 'shortTime'}}
                    </small></p>
                  </div>
            </div>
        </div>
    </div>
    <nav aria-label="Page navigation example" class="page" >
        <ul class="pagination d-flex justify-content-center">
          <li class="page-item">
          <button type="submit" (click)="Onprevious()" class="btn onPrevious-btn bg-light" [class.disabled]="pageIndex == 0"
            style="border: none;">
            Previous
          </button>
        </li>
          <li class="page-item"><a class="page-link active" href="#">{{pageIndex + 1 }}</a></li>
          <li class="page-item">
          <button type="submit" class="btn onNext-btn bg-light" (click)="OnNext()">
            Next
          </button>
          </li>
        </ul>
      </nav>
 </section>
 <!-- {{Blogs.imageUrls | json}} -->
 <!-- <div *ngFor="let c of Blogs">
  <p>{{c.category.categoryName}}</p>
 </div> -->

 
 <!-- <input list="categoryList" />
<datalist id="categoryList">
  <option *ngFor="let c of Blogs" [value]="c.category.categoryName"></option>
</datalist> -->
 <!-- <p>
  {{Blogs | json}}
 </p> -->