<!-- <app-navbar></app-navbar> -->
<div class="container-fluid mt-5" style="background: linear-gradient(rgba(0,0,0.2,0.4),rgba(0,0,0.2,0.4)),url(Bg.jpg);
  background-attachment: scroll;background-repeat: no-repeat; height: 460px; background-size: cover;
  ">
  <div class="row">
    <div class="col-md-6 mt-5 text-light p-5">
      <h1 class="blog-quote" >Your blog is your voice, <br> your platform to share the world as you see it.</h1>
      <br>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore quia fuga at asperiores, deserunt qui quaerat! Saepe dolor illum sapiente accusamus in beatae sunt perspiciatis possimus magni! Odio, quae accusamus.</p>
      <br>
      <button type="button" class="btn w-25 p-2" style="color: white;font-weight: 500;border-radius: 0px;background-color: #f39c12;">Create Blog</button>
    </div>
  </div>
</div>
<div class="container-fluid p-5">
    <!-- <div class="row " style="justify-content: end;margin-top: 10px; margin-bottom: 10px;">
        <div class="col-md-6">
            <img src="aerial-view-man-working-computer.jpg" height="300px" width="400px" alt="" style="border-radius: 20px;">
            <img src="blog.jpg" alt="">
        </div>
        <div class="col-md-6">
            <h3 class="mt-5">Quillist-The Hidden pen</h3>
            <p class="mt-5">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Exercitationem vero id, ipsam atque dolorum laborum quibusdam deleniti tenetur ex consectetur dicta nulla beatae! Illum nihil exercitationem cupiditate amet rem. Quaerat.
            </p>
            <p class="">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Exercitationem vero id, ipsam atque dolorum laborum quibusdam deleniti tenetur ex consectetur dicta nulla beatae! Illum nihil exercitationem cupiditate amet rem. Quaerat.
            </p>
        </div>
    </div> -->
    <br>
    <br>
    <br>
    
    <!-- Latetst blog section --> 
    <div class="row p-3">
        <div class="col-md-8 p-md-4 card " style="box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;">
          <h5 class="fs-2">Popular Blog</h5>
          <hr>
          <div class="row justify-content-center align-items-center">
            <div class="col-md-4">
              <img src="place.jpg" class="img-fluid img-thumbnail" alt="">
            </div>
            <div class="col-md align-self-center">
              <h3>Salena William</h3>
              <p class="text-muted">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Adipisci, voluptas?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident, fuga?
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quod aut vero tempora non maiores neque officiis error maxime, praesentium, nemo labore quam quisquam quo. Nisi perferendis obcaecati vitae quos repellat!
              </p>
            </div>
          </div>
          <p class="text-muted pt-3">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium deserunt, harum vero, corporis omnis commodi voluptate nostrum officiis animi officia ab, perferendis facere consequuntur maiores aspernatur deleniti minus? Deserunt deleniti veniam veritatis sunt, iusto laboriosam harum voluptates quisquam sed? Rem amet voluptates porro necessitatibus minus rerum, expedita excepturi ut optio?
          </p>
          <p class="text-muted">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. In hic praesentium nihil ratione dolores, id ullam doloribus reiciendis eum soluta nulla repellendus placeat quo facilis sapiente saepe libero consequuntur fugiat maxime veritatis commodi corrupti? Adipisci, sunt modi inventore quo tenetur ratione, veritatis consequuntur nobis incidunt, repellendus dolor reprehenderit quod quia!
          </p>
          <p class="text-muted">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, vitae cum repellat maiores suscipit fugiat obcaecati ipsam ab cupiditate excepturi, modi similique recusandae, quo quae. Repudiandae aperiam quo molestiae maxime iure numquam. Voluptatibus, inventore atque modi obcaecati blanditiis dolor expedita ipsum praesentium doloribus, corporis et aspernatur. Modi amet facere quisquam!
          </p>
          <a href="">Preview</a>
        </div>
        <div class="col-md-3">
          <div class="row">
            <div class="col-md-12">
              <div class="card p-2">
                <h4 class="bg-light p-2">Popular</h4>
                <div class="d-flex m-1">
                  <div class="flex-shrink-0">
                    <img src="place.jpg" class="img-thumbnail" style="height: 50px;width: 60px;" alt="...">
                  </div>
                  <div class="flex-grow-1 ms-3">
                    This is some content from a media component. You can replace this with any content and adjust it as needed.
                  </div>
                </div>
                <hr>
                <div class="d-flex m-1">
                  <div class="flex-shrink-0">
                    <img src="food.jpg" class="img-thumbnail" style="height: 50px;width: 60px;" alt="...">
                  </div>
                  <div class="flex-grow-1 ms-3">
                    This is some content from a media component. You can replace this with any content and adjust it as needed.
                  </div>
                </div>
                <hr>
                <div class="d-flex m-1">
                  <div class="flex-shrink-0">
                    <img src="technology.jpg" class="img-thumbnail" style="height: 50px;width: 60px;" alt="...">
                  </div>
                  <div class="flex-grow-1 ms-3">
                    This is some content from a media component. You can replace this with any content and adjust it as needed.
                  </div>
                </div>
                <hr>
                <div class="d-flex m-1">
                  <div class="flex-shrink-0">
                    <img src="music.jpg" class="img-thumbnail" style="height: 50px;width: 60px;" alt="...">
                  </div>
                  <div class="flex-grow-1 ms-3">
                    This is some content from a media component. You can replace this with any content and adjust it as needed.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="col-md-4 ">
          <div class="row">
              <div class="col">
                <h3>Categories</h3>
                <br>
              Categories
              <div class="card text-dark mb-3 Categories" style="max-width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">Culture</h5>
                </div>
              </div>
              <div class="card text-dark mb-3 Categories" style="max-width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">Creativity</h5>
                </div>
              </div>
              <div class="card text-dark mb-3 Categories" style="max-width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">Technology</h5>
                </div>
              </div>
              <div class="card text-dark mb-3 Categories" style="max-width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">Music</h5>
                </div>
              </div>
              <div class="card text-dark mb-3 Categories" style="max-width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">Food</h5>
                </div>
              </div>
              
            </div>
          </div>
        </div> -->
    </div>

    <!-- <div class="row p-5">
      <div class="col-md-3">
        <div class="row">
            <div class="col">
              <h3>Categories</h3>
              <br>
            <div class="card text-dark mb-3 Categories" style="max-width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">Culture</h5>
              </div>
            </div>
            <div class="card text-dark mb-3 Categories" style="max-width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">Creativity</h5>
              </div>
            </div>
            <div class="card text-dark mb-3 Categories" style="max-width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">Technology</h5>
              </div>
            </div>
            <div class="card text-dark mb-3 Categories" style="max-width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">Music</h5>
              </div>
            </div>
            <div class="card text-dark mb-3 Categories" style="max-width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">Food</h5>
              </div>
            </div>
            
          </div>
        </div>
      </div> -->
        <!-- Latest blog -->
        <!-- <div class="col-md-3">
          <br><br><br>
            <div class="card mb-2 blog-card">
                <img src="technology.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Technology</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <button type="button" class="btn view-btn w-100">View</button> <br><br>
                  <small class="text-muted">Last updated 3 mins ago</small>
                </div> -->
                <!-- <div class="card-footer bg-light">
                    <small class="text-muted">Last updated 3 mins ago</small>
                  </div> -->
              <!-- </div>
        </div> -->
        <!-- <div class="col-md-3">
          <br><br> <br>
            <div class="card mb-2 blog-card">
                <img src="place.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Travelling</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <button type="button" class="btn view-btn w-100">View</button> <br><br>
                  <small class="text-muted">Last updated 3 mins ago</small> 
                </div> -->
                <!-- <div class="card-footer bg-light">
                    <small class="text-muted">Last updated 3 mins ago</small>
                  </div> -->
              <!-- </div>
        </div>
        <div class="col-md-3">
          <br><br><br>
          <div class="card mb-2 blog-card">
              <img src="food.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Food</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <button type="button" class="btn view-btn w-100">View</button> <br><br>
                <small class="text-muted">Last updated 3 mins ago</small>
              </div> -->
              <!-- <div class="card-footer bg-light">
                  <small class="text-muted">Last updated 3 mins ago</small>
                </div> -->
            <!-- </div> -->
      <!-- </div> -->
    <!-- </div> -->

    <!-- <section class="recent-posts" style="margin: 10px;">
      <h2>Recent Posts</h2>
      <div class="posts-list">
          <article class="post-item">
              <img src="food.jpg" alt="Post 1">
              <div class="post-content">
                  <h3><a href="#">10 Tips for Writing Compelling Content</a></h3>
                  <p>A step-by-step guide to writing engaging blog posts that keep readers hooked...</p>
              </div>
          </article>
          <article class="post-item">
              <img src="place.jpg" alt="Post 2">
              <div class="post-content">
                  <h3><a href="#">SEO Strategies for 2025: What Works Now?</a></h3>
                  <p>Discover the latest SEO trends and how to optimize your blog posts for better rankings...</p>
              </div>
          </article>
          <article class="post-item">
              <img src="technology.jpg" alt="Post 3">
              <div class="post-content">
                  <h3><a href="#">The Best Tools for Blog Management</a></h3>
                  <p>From content planning to analytics, here are the top tools every blogger should use...</p>
              </div>
          </article>
      </div>
  </section> -->
</div>
<section class="horizontal-cards">
  <div class="container-blog">
      <h2 class="section-title">Featured Posts</h2>
      <div class="cards-wrapper">
          <!-- Card 1 -->
          <div class="card blog">
              <div class="category">Music</div>
              <img src="music.jpg" alt="Card Image 1">
              <div class="card-content">
                  <h3>The Rise of Indie Music in 2025</h3>
                  <p>Indie artists are dominating playlists across platforms. Let’s dive into the top rising stars this year.</p>
                  <a href="#" class="btn-read-more">Read More</a>
              </div>
          </div>

          <!-- Card 2 -->
          <div class="card blog">
              <div class="category">Technology</div>
              <img src="technology.jpg" alt="Card Image 2">
              <div class="card-content">
                  <h3>AI in 2025: What's Changing the Game?</h3>
                  <p>
                    Artificial Intelligence is reshaping industries — from healthcare to education. Let’s explore the hottest AI tools and their impact in 2025.
                  </p>
                  <a href="#" class="btn-read-more">Read More</a>
              </div>
          </div>

          <!-- Card 3 -->
          <div class="card blog">
              <div class="category">Travlling</div>
              <img src="place.jpg" alt="Card Image 3">
              <div class="card-content">
                  <h3>Exploring the Hidden Gems of Italy</h3>
                  <p>Italy is full of breathtaking locations beyond Rome and Venice. Discover lesser-known gems that offer authentic experiences.</p>
                  <a href="#" class="btn-read-more">Read More</a>
              </div>
          </div>
              <!-- Card 3 -->
              <div class="card blog">
                  <div class="category">Food</div>
                  <img src="food.jpg" alt="Card Image 3">
                  <div class="card-content">
                      <h3>Flavors of Gujarat: A Culinary Journey</h3>
                      <p>
                        From the sweetness of <strong>Gujarati Dhokla</strong> to the tangy <strong>Undhiyu</strong>, Gujarat's food is a perfect blend of taste and tradition. Don’t miss out on snacks like <em>Khandvi</em>, <em>Fafda-Jalebi</em>, and a full Gujarati Thali!  
                      </p>
                      <a href="#" class="btn-read-more">Read More</a>
                  </div>
              </div>
      </div>
  </div>
</section>
<app-footer></app-footer>